<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>RSE Skills Finder</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.panzoom.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}"></script>
</head>
<body>
	<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/unileedslogo.jpeg') }}" width="150"> <a/>
	<form name="topic_keyword" action="{{ url_for('topic_search') }}" method="get">
		<input type="text" name="topic" size="50">
		<input type="submit" value="Search Topics">
	</form>
	{% block content %}{% endblock %}
</body>
</html>
