{% extends 'base.html' %}
{% block content %}
<h1>{{ name }}</h1>

{% if node_count >= 1 %}
<div id="svg">
	<div class="parent">
		<div class="panzoom">
      {% autoescape false %}
        {{ graph }}
      {% endautoescape %}
		</div>
	</div>
</div>
<script>
(function() {
	var $section = $('#svg');
	var $panzoom = $section.find('.panzoom').panzoom();
	
	$panzoom.parent().on('mousewheel.focal', function(e) {
		e.preventDefault();
		
		var delta = e.delta || e.originalEvent.wheelDelta;
		var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
		
		$panzoom.panzoom('zoom', zoomOut, {
			increment: 0.1,
			focal: e
		});
		
		$panzoom.find('a').on('mousedown touchstart', function(e) {
			e.stopImmediatePropagation();
		});
	});
})();
</script>
{% else %}
  <p>No results found for {{ name }}.</p>
<p>Return to <a href="{{ url_for('index') }}">Home</a></p>
{% if interests %}
{% autoescape false %}
<h3>List of possible topics</h3>
<p>{{ interests }}</p>
{% endautoescape %}
{% endif %}
{% endif %}

{% endblock %}
